Mars Rover Webservices/.vs/
Mars Rover Webservices/Mars Rover Webservices/bin/
Mars Rover Webservices/Mars Rover Webservices/obj/
Mars Rover Webservices/obj/
Mars Rover Webservices/Mars Rover Webservices.Tests/bin/
Mars Rover Webservices/Mars Rover Webservices.Tests/obj/
