/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.InlineResponse201
import io.swagger.client.model.InlineResponse400
import io.swagger.client.model.MovementInstruction
import io.swagger.client.model.MovementInstruction1
import io.swagger.client.model.RoverInfo
import io.swagger.client.model.RoverInfo1
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object DefaultApi {

  /**
   * 
   * 
   * Expected answers:
   *   code 201 :  (Rover created)
   *   code 400 : InlineResponse400 (Invalid request)
   *   code 500 : InlineResponse400 (Server Error)
   * 
   * @param roverInfo Rover to create.
   */
  def roversPost(roverInfo: Option[RoverInfo] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://172.24.159.215/api", "/rovers", "application/json")
      .withBody(roverInfo)
      .withSuccessResponse[Unit](201)
      .withErrorResponse[InlineResponse400](400)
      .withErrorResponse[InlineResponse400](500)
        /**
   * 
   * 
   * Expected answers:
   *   code 201 : InlineResponse201 (Created)
   *   code 400 : InlineResponse400 (Invalid request)
   *   code 500 : InlineResponse400 (Server Error)
   * 
   * @param roverId 
   * @param movementInstruction Rover Id
   */
  def roversRoverIdPositionsGet(roverId: Int, movementInstruction: Option[MovementInstruction] = None): ApiRequest[InlineResponse201] =
    ApiRequest[InlineResponse201](ApiMethods.GET, "https://172.24.159.215/api", "/rovers/{roverId}/positions", "application/json")
      .withBody(movementInstruction)
      .withPathParam("roverId", roverId)
      .withSuccessResponse[InlineResponse201](201)
      .withErrorResponse[InlineResponse400](400)
      .withErrorResponse[InlineResponse400](500)
        /**
   * 
   * 
   * Expected answers:
   *   code 201 : InlineResponse201 (Created)
   *   code 400 : InlineResponse400 (Invalid request)
   *   code 500 : InlineResponse400 (Server Error)
   * 
   * @param roverId 
   * @param movementInstruction Movement instruction
   */
  def roversRoverIdPositionsPut(roverId: Int, movementInstruction: Option[MovementInstruction1] = None): ApiRequest[InlineResponse201] =
    ApiRequest[InlineResponse201](ApiMethods.PUT, "https://172.24.159.215/api", "/rovers/{roverId}/positions", "application/json")
      .withBody(movementInstruction)
      .withPathParam("roverId", roverId)
      .withSuccessResponse[InlineResponse201](201)
      .withErrorResponse[InlineResponse400](400)
      .withErrorResponse[InlineResponse400](500)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 :  (Rover updated)
   *   code 400 : InlineResponse400 (Invalid request)
   *   code 500 : InlineResponse400 (Server Error)
   * 
   * @param roverId 
   * @param roverInfo Rover to update.
   */
  def roversRoverIdPut(roverId: Int, roverInfo: Option[RoverInfo1] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, "https://172.24.159.215/api", "/rovers/{roverId}", "application/json")
      .withBody(roverInfo)
      .withPathParam("roverId", roverId)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[InlineResponse400](400)
      .withErrorResponse[InlineResponse400](500)
      

}

